<!DOCTYPE html>

<html>


<head>
    <title>8964 Page</title>
    <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img id="body_img" src="/img/1.png" alt="">
        <p>{{errorMessage}}</p>
    </div>



    {{>footer}}
</body>



</html>