<!DOCTYPE html>

<html>

<head>
    <title>About Page</title>
    <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Jack Yuan.</p>
        <P>It uses data from Mapbox.com and Darksky.net!</P>
        <img id="body_img" src="/img/bike.png" class="portrait" alt="">
    </div>

    {{>footer}}
</body>


</html>